* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 62%;
  margin: 0 auto;
  padding: 0 3%;
}
@media (max-width: 1280px) {
  .container {
    width: 86%;
  }
}

h2 {
  text-align: center;
}

.nav__link,
.hero__text,
.hero__btn,
.about__text {
  line-height: 1.64rem;
}

.about__title {
  font-weight: 500;
}

.header {
  background-color: #EEEFF1;
  padding: 80px 0;
}
@media (max-width: 767px) {
  .header {
    padding: 45px 0;
  }
}

.navbar {
  margin-bottom: 162px;
}
@media (max-width: 767px) {
  .navbar {
    margin-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .navbar {
    margin-bottom: 50px;
  }
}

.navbar__btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 25px;
  height: 25px;
}
@media (max-width: 767px) {
  .navbar__btn {
    display: flex;
  }
}
.navbar__btn.active span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}
.navbar__btn.active span:nth-child(2) {
  opacity: 0;
  left: -30px;
}
.navbar__btn.active span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}

.navbar__btn-row {
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.5s;
}
.navbar__btn-row:nth-child(1) {
  top: 0;
}
.navbar__btn-row:nth-child(2) {
  top: 9px;
}
.navbar__btn-row:nth-child(3) {
  top: 18px;
}

.nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    max-width: 611px;
  }
}
@media (max-width: 767px) {
  .nav {
    display: none;
    width: 86%;
    margin-top: 20px;
    padding: 20px 5%;
    background-color: #34547A;
  }
}

@media (max-width: 767px) {
  .navbar-list--active {
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.nav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.1em;
}
@media (max-width: 767px) {
  .nav__link {
    color: #FFF;
  }
}
.nav__link:hover, .nav__link.nav__link--active {
  text-decoration: underline;
  color: #4d79ad;
}

@media (max-width: 767px) {
  .nav__item {
    margin: 5px 0;
  }
}

.design {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 4.92rem;
  margin-bottom: 60px;
}

.hero__text {
  margin-bottom: 65px;
  color: #727272;
  max-width: 540px;
}
@media (min-width: 768px) {
  .hero__text {
    width: 540px;
  }
}

.hero__btn {
  display: block;
  min-width: 225px;
  text-decoration: none;
  margin-bottom: 140px;
  padding: 20px 2%;
  letter-spacing: 0.1em;
  text-align: center;
  color: #FFF;
  background-color: #34547A;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
@media (max-width: 480px) {
  .hero__btn {
    margin-bottom: 50px;
  }
}
.hero__btn:hover {
  background-color: #4d79ad;
}

.about {
  padding-top: 112px;
  padding-bottom: 100px;
  background-color: #FFF;
}
@media (max-width: 992px) {
  .about {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.about__title {
  font-size: 2rem;
  line-height: 2.3438rem;
  margin-bottom: 50px;
}

.about-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 3%;
}
@media (max-width: 992px) {
  .about-container {
    margin-bottom: 40px;
  }
}

.about__text {
  text-align: center;
}

.project {
  background-color: #34547A;
  color: #FFF;
}
@media (max-width: 1440px) {
  .project .container {
    width: 75%;
  }
}
@media (max-width: 1280px) {
  .project .container {
    width: 86%;
  }
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
@media (max-width: 992px) {
  .project-container {
    justify-content: center;
    gap: 30px;
    padding: 50px 0;
  }
}

.project__item {
  display: flex;
  gap: 16%;
}
@media (max-width: 992px) {
  .project__item {
    justify-content: center;
    flex-basis: 25%;
  }
}

.project__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project__number {
  font-size: 1.31rem;
  font-weight: 500;
}

.work {
  background-color: #EEEFF1;
}

.work-header {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 3% 50px;
  text-align: center;
}
@media (max-width: 960px) {
  .work-header {
    padding: 60px 3% -40px;
  }
}

.work-header__title {
  font-size: 2rem;
  line-height: 2.34rem;
  margin-bottom: 50px;
}
@media (max-width: 960px) {
  .work-header__title {
    margin-bottom: 40px;
  }
}

.work-header__text {
  color: #727272;
  line-height: 1.64rem;
}

.work-video {
  max-width: 1110px;
  padding-bottom: 100px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .work-video {
    padding-bottom: 60px;
  }
}
.work-video iframe {
  width: 100%;
  min-height: 600px;
}
@media (max-width: 960px) {
  .work-video iframe {
    min-height: 400px;
  }
}
@media (max-width: 600px) {
  .work-video iframe {
    min-height: 250px;
  }
}

.footer {
  background-color: #34547A;
  color: #FFF;
  padding: 50px 0;
}

.footer__bg {
  margin-bottom: 20px;
}